*{
    padding: 0;
    margin: 0;
}
/* header outer */
.header-wrapper{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.header-inner{
    width: 70%;
    height: 100%;
    display: flex;
}
.logo-wrapper{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-wrapper{
    /* width: 100%;
    height: 100%; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-wrapper > ul{
    list-style: none;
    display: flex;
}
.nav-wrapper > ul > li{
    margin-right: 20px;
    font-size: 20px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav-wrapper > ul > li:last-child{
    margin: 0;
}
.nav-wrapper > ul > li:hover{
    cursor: pointer;
    color: #d35400;
}
/* header outer */

/* Slider Outer */
.slider-container{
    height: 800px;
    border: 1px solid red;
    display: flex;
}
.slider-inner{
    flex:1;
    border: 1px solid red;
}
.left-slider{
    display: flex;
    align-items: center;
}
.left-side-content-wrapper{
    border: 1px solid red;
    padding: 20px;
}
/* Slider Outer */